{% extends 'base.html' %}
{% load staticfiles %}

{%block title%} Page {%endblock%}
{%block content%}
		<div class="content">
			<div class="inner-page">
				<div class="searchbar">
					<div class="search-left">
						<p></p>
					</div>
					<div class="search-right">
						<form>
							<input type="text"><input type="submit" value="" />
						</form>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="title">
					<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit </h3>
					<ul>
						<li><h4>By:</h4></li>
						<li><a href="#">Author</a></li>
						<li><a href="#"><img src="{% static 'images/sub.png' %}" title="subscribe" />subscribe</a></li>
					</ul>
				</div>
				<div class="video-inner">
					<a href="#"><img src="{% static 'images/b11.png' %}" title="videoname" /><span>10:00</span></a>
				</div>
				<div class="viwes">
					<div class="view-links">
						<ul>
							<li><h4>Share on:</h4></li>

						</ul>
						<ul class="comment1">
							<li><a href="#">Comment(1)</a></li>
							<li><a href="#"><img src="{% static 'images/re.png'%}" title="report" /><span>Report</span></a></li>
						</ul>
					</div>
					<div class="views-count">
						<p><span>2,500</span> Views</p>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="clear"> </div>
			
				<div class="clear"> </div>
				<div class="tags">
					<ul>
						<li><h3>Tags:</h3></li>
						<li><a href="#">Games</a> ,</li>
						<li><a href="#">HD-Videos</a></li>
					</ul>
				</div>
				<div class="clear"> </div>
				<div class="related-videos">
					<h6>Related-Videos</h6>
				<div class="grids">
					<div class="grid">
						<h3>Consectetur adipisicing elit</h3>
						<a href="#"><img src="{% static 'images/g3.jpg' %}" title="video-name"></a>
						<div class="time">
							<span>2:30</span>
						</div>
						<div class="grid-info">
							<div class="video-share">
								<ul>
									<li><a href="#"><img src="{% static 'images/likes.png' %}" title="links"></a></li>
									<li><a href="#"><img src="{% static 'images/link.png' %}" title="Link"></a></li>
									<li><a href="#"><img src="{% static 'images/views.png' %}" title="Views"></a></li>
								</ul>
							</div>
							<div class="video-watch">
								<a href="#">Watch Now</a>
							</div>
							<div class="clear"> </div>
							<div class="lables">
								<p>Labels:<a href="#">Lorem</a></p>
							</div>
						</div>
					</div>
					<div class="grid">
						<h3>Consectetur adipisicing elit</h3>
						<a href="#"><img src="{% static 'images/g5.jpg' %}" title="video-name"></a>
						<div class="time">
							<span>5:10</span>
						</div>
						<div class="grid-info">
							<div class="video-share">
								<ul>
									<li><a href="#"><img src="{% static 'images/likes.png' %}" title="links"></a></li>
									<li><a href="#"><img src="{% static 'images/link.png' %}" title="Link"></a></li>
									<li><a href="#"><img src="{% static 'images/views.png' %}" title="Views"></a></li>
								</ul>
							</div>
							<div class="video-watch">
								<a href="#">Watch Now</a>
							</div>
							<div class="clear"> </div>
							<div class="lables">
								<p>Labels:<a href="#">Lorem</a></p>
							</div>
						</div>
					</div>
					<div class="grid">
						<h3>Consectetur adipisicing elit</h3>
						<a href="#"><img src="{% static 'images/g4.jpg'%}" title="video-name"></a>
						<div class="time">
							<span>2:00</span>
						</div>
						<div class="grid-info">
							<div class="video-share">
								<ul>
									<li><a href="#"><img src="{% static 'images/likes.png'%}" title="links"></a></li>
									<li><a href="#"><img src="{% static 'images/link.png'%}" title="Link"></a></li>
									<li><a href="#"><img src="{% static 'images/views.png'%}" title="Views"></a></li>
								</ul>
							</div>
							<div class="video-watch">
								<a href="#">Watch Now</a>
							</div>
							<div class="clear"> </div>
							<div class="lables">
								<p>Labels:<a href="#">Lorem</a></p>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="clear"> </div>
			</div>
			
		<div class="right-content">
			<div class="popular">
				<h3>Popular Videos</h3>
				<p><img src="{% static 'images/l1.png'%}" title="likes" /> 10,000</p>
				<div class="clear"> </div>
			</div>
			        <div class="grid1">
						<h3>Consectetur adipisicing elit</h3>
						<a href="#"><img src="{% static 'images/g7.jpg'%}" title="video-name" /></a>
						<div class="time1">
							<span>2:50</span>
						</div>
						
						<div class="grid-info">
							<div class="video-share">
								<ul>
									<li><a href="#"><img src="{% static 'images/likes.png'%}" title="links" /></a></li>
									<li><a href="#"><img src="{% static 'images/link.png'%}" title="Link" /></a></li>
									<li><a href="#"><img src="{% static 'images/views.png'%}" title="Views" /></a></li>
								</ul>
							</div>
							<div class="video-watch">
								<a href="#">Watch Now</a>
							</div>
							<div class="clear"> </div>
							<div class="lables">
								<p>Labels:<a href="#">Lorem</a></p>
							</div>
						</div>
					</div>
					
					<div class="grid1">
						<h3>Consectetur adipisicing elit</h3>
						<a href="#"><img src="{% static 'images/g7.jpg'%}" title="video-name" /></a>
						<div class="time1">
							<span>2:50</span>
						</div>
						
						<div class="grid-info">
							<div class="video-share">
								<ul>
									<li><a href="#"><img src="{% static 'images/likes.png'%}" title="links" /></a></li>
									<li><a href="#"><img src="{% static 'images/link.png'%}" title="Link" /></a></li>
									<li><a href="#"><img src="{% static 'images/views.png'%}" title="Views" /></a></li>
								</ul>
							</div>
							<div class="video-watch">
								<a href="#">Watch Now</a>
							</div>
							<div class="clear"> </div>
							<div class="lables">
								<p>Labels:<a href="#">Lorem</a></p>
							</div>
						</div>
					</div>
					
					<div class="grid1">
						<h3>Consectetur adipisicing elit</h3>
						<a href="#"><img src="{% static 'images/g7.jpg'%}" title="video-name" /></a>
						<div class="time1">
							<span>2:50</span>
						</div>
						
						<div class="grid-info">
							<div class="video-share">
								<ul>
									<li><a href="#"><img src="{% static 'images/likes.png'%}" title="links" /></a></li>
									<li><a href="#"><img src="{% static 'images/link.png'%}" title="Link" /></a></li>
									<li><a href="#"><img src="{% static 'images/views.png'%}" title="Views" /></a></li>
								</ul>
							</div>
							<div class="video-watch">
								<a href="#">Watch Now</a>
							</div>
							<div class="clear"> </div>
							<div class="lables">
								<p>Labels:<a href="#">Lorem</a></p>
							</div>
						</div>
					</div>
					
					<div class="clear"> </div>
		</div>
		<div class="clear"> </div>
		</div>
{%endblock%}		